{%extends 'charttemplate.html'%} 


{%block pgtitle%} Creatine price {%endblock%} 

{%block title%} Protein Price {%endblock%}

{%block linkone%}<a href="/" class="nav-link">Home</a>{%endblock%}
{%block linktwo%}<a href="protein" class="nav-link">Protein</a>{%endblock%}
{%block linkthree%}<a href="creatine" class="nav-link active">Creatine</a>{%endblock%}
{%block graphtitle%}Creatine Graph{%endblock%}

{%block linkmp%}https://www.myprotein.ie/p/sports-nutrition/creatine-monohydrate-powder/10530050/{%endblock%}
{%block linkpworks%}https://ie.theproteinworks.com/creatine-monohydrate{%endblock%}