{%extends 'base.html'%} 

{%block pgtitle%} Home {%endblock%} 

{%block title%} Home {%endblock%} 

{%block linkone%}<a href="/" class="nav-link active">Home</a>{%endblock%}
{%block linktwo%}<a href="protein" class="nav-link ">Protein</a>{%endblock%}
{%block linkthree%}<a href="creatine" class="nav-link">Creatine</a>{%endblock%}

{%block content%}
    
    <style>
         
        .fsdyn {font-size: 1.5rem; }

        @media (max-width: 768px) {
        .fsdyn {font-size: 1rem; }}

        @media (max-width: 576px) {
        .fsdyn {font-size: 0.8rem; }}




        .headdys {font-size: 3rem; }

        @media (max-width: 768px) {
        .headdys {font-size: 2rem; }}

        @media (max-width: 576px) {
        .headdys {font-size: 1.5rem; }}

        .cardsize {height: 10rem;
            width: 10;}

        @media (max-width: 768px) {
        .cardsize {height: 8rem;
            width: 8;}}

        @media (max-width: 576px) {
        .cardsize {height: 6rem;
                    width: 6;}}


        .cardttl {font-size: 1rem; }

        @media (max-width: 768px) {
        .cardttl {font-size: 0.75rem; }}

        @media (max-width: 576px) {
        .cardttl {font-size: 0.75rem; }}
    </style>


    
    
    <div class="d-flex justify-content-around">        
        <div class="d-flex flex-column text-wrap "style="width: 30%;">
            <div class="pb-5 " ><p class="justify-content-center headdys">Our mission</p></div>
            <div class="pb-5 fsdyn text-wrap" >In a world where Companies make their pricing unclear you need a way to see if you are actually getting a deal or if they are trying to confuse you. </div>
            <div class="pb-5 fsdyn text-wrap" >Use our tool to track the price of supliments historically and see if you are actually getting a deal.</div>
            <div class="pb-5 fsdyn text-wrap" >Check price histotry to see if there may be an upcoming deal before you buy.</div>
        </div>



        <div class="d-flex flex-column gap-5 mt-5 "  >
            <div  class="card text-center  fw-bold position-relative  hover-shadow cardsize"    onmouseover="this.classList.add('shadow-lg')" onmouseout="this.classList.remove('shadow-lg')" > 
                <p  class="cardttl">Compare Protein Now</p>
                <a class="stretched-link link-opacity-50-hover"  href="/protein"></a> 
            </div>

            <div class="card text-center  fw-bold position-relative  hover-shadow cardsize"  onmouseover="this.classList.add('shadow-lg')" onmouseout="this.classList.remove('shadow-lg')">
                <p class="cardttl">Compare Creatine Now</p>
                <a class="stretched-link "  href="/creatine"></a> 
            </div>
        </div>
    </div>
{%endblock%}
