{%extends 'charttemplate.html'%} 


{%block pgtitle%} Protein Price {%endblock%} 

{%block title%} Protein Price {%endblock%}

{%block linkone%}<a href="/" class="nav-link">Home</a>{%endblock%}
{%block linktwo%}<a href="protein" class="nav-link active">Protein</a>{%endblock%}
{%block linkthree%}<a href="creatine" class="nav-link">Creatine</a>{%endblock%}
{%block graphtitle%}Protein Graph{%endblock%}
{%block linkmp%}https://www.myprotein.ie/p/sports-nutrition/impact-whey-protein/10530943/{%endblock%}
{%block linkpworks%}https://ie.theproteinworks.com/whey-protein-80-concentrate{%endblock%}